/* ↓ EN LAS PRIMERA LÍNEA PODEMOS ENLAZAR LAS FUENTES QUE USAREMOS ↓ */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Condiment&display=swap);
@import url(/workspaces/agua-0/elementos/Spooky_Webbie.ttf);
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');


/* ↓ A PARTIR DE ESE PUNTO PODEMOS LLAMAR TODAS LAS PROPIEDADES DE NUESTRAS CLASES Y ID´S ↓ */
body {
  background-color: #220235;
  margin: 0;
  padding: 0;
}

h1 {
  /* font-family: 'Condiment';*/
  font-family: 'Spooky_Webbie', system-ui;
  font-weight: 444;
  margin: 0;
  position: absolute;
  font-size: 15vh;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

a {
  color: rgb(209, 56, 201);
  text-decoration: none;
}

a:hover {
  background-color: #6527c9;
}

p{

  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 444;
  font-style: normal;

  /*
    font-family:'Spooky_Webbie', Times, serif;
    */
font-size: 1.0em;
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}

#subparrafo{
    font-size:1.8em;
    color: rgb(90, 12, 86);
}

#subparrafo:hover {
  background-color: darkred;
}

@font-face{
  font-family: Spooky_Webbie;
  src: url(elementos/Spooky_Webbie.ttf);

}

